*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(50deg ,#bbe5f0, #040113);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #0a0427;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #717377;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    
}
.calculator input{
    border: 0;
    outline: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(120, 169, 238, 0.1),5px 5px 15px rgba(222, 115, 115, 0.2);
    background: transparent ;
    font-size: 20px;
    color: #c6cc21;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}
form input.button{
border: none;
width: 60px;
height: 60px;
margin: 10px;
border-radius: 90%;
background: transparent;
color: #ffffff;
font-size: 20px;
box-shadow: -8px -8px 15px rgba(236, 163, 163, 0.1);
cursor: pointer;
}
input::placeholder{
    color: #ffffff;
    text-align: center;
    justify-content: left;
}    
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form.display{
    text-align: right;
    
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 70px;
    background-color: #877522;
    
}   

form input.operator{
    color:rgb(162, 233, 233);
}
